# Session cookie signature key
SECRET_KEY=example
# "Login" password for the editing interface
AUTH_KEY=example

# You can use any MongoDB URL here (including mongodb+srv ones for clusters)
MONGO_URL=mongodb://root:example@127.0.0.1:27017/

# Endpoint address (e.g. hostname) with protocol and required sub domains but not path
# E.g. http://localhost:9000 (for a local Minio instance)
S3_ENDPOINT=http://localhost:9000
# Also known as "access id"
S3_ACCESS_KEY=root
S3_SECRET_KEY=example
# Mandatory, but can be set to an arbitrary region if Amazon S3 is not used
S3_REGION=us-east1
# Must exist already, it is not checked at startup.
S3_BUCKET=paws
# Most storage (other than "the" S3) only support path based access.
# Do not set the variable if vhost based is required.
# Examples for both:
#  bucket.endpoint.tld/ (vhost based)
#  endpoint.tld/bucket/ (path based)
S3_PATH_STYLE=1

# If you want to test the "legal notice" page, provide an existing file name here.
#LEGAL_FILE=legal.html